.main{
	height: auto;
	width: 290px;
	border: 2px solid;
	border-radius: 3px;
	border-color: #00264d;
	color: white;
	background-color: #99bbff;
	font-family: Verdana, Geneva, sans-serif;
	
}

.main div {
	margin-top: 8px;
	margin-bottom: 5px;
	
}

#result {
	height: auto;
	width: 270px;
	color: black;
	border-style: none;
	background-color: #ababab;
	text-align: right;
	font-size: 1.3em;
}

button {
	background-color: #ababab;
	border-radius: 5px;
	border-style: none;
	font-size: 1.1em;
	margin: 2px 0px 2px 1px;
	width: 40px;
	height: 40px;
	
}

#special_calc button{
	background-color: #00b38f;	
	color: white;
	width: 40px;
	height: 40px;
}

#basic_calc button{
	background-color: black;
	color: white;
	width: 55px;
	height: 50px;	
}

#equal, #delete, #clear {
	background-color: red !important;
}


.history {
  background: linear-gradient(#eee, #ccc);
  margin: 10px;
  box-shadow:inset rgba(0, 0, 0, 0.1) 0px -3px 8px 0px,
            inset rgba(252,255,255,.2) 0px 3px 8px,
            rgba(0,0,0,.8) 0px 3px 8px -3px;
  padding: 20px;
  color: #555;
  overflow: auto;
}

h1 {
  margin: 0 0 20px;
  font-size: 25px;
  font-weight: 800;
}

.history p {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  border-bottom: 1px dotted rgb(153,153,153);
}

.history p:first-child {
  padding-top: 0;
}


#logs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#history td{vertical-align: top;}
